:root {
  --main-color: #0545a3;
  --main-color2: red;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.hero {
  background: url(1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}
.container {
  width: 80%;
  margin: auto;
}
nav {
  font-size: 30px;
  min-height: 3rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
a {
  text-decoration: none;
}
.menu > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu > ul > li {
  margin-right: 1rem;

  font-weight: bolder;
}
.menu a {
  color: var(--main-color);
  transition: 0.3s;
}
.menu a:hover {
  color: var(--main-color2);
  font-size: 2rem;
}
.hero-content {
  display: flex;
  justify-content: space-between;
}
.project i {
  font-size: 5rem;
}
.section1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
  font-weight: bold;
  width: 300px;
  border-bottom: 0.5rem solid blue;
  margin-right: auto;
  margin-left: auto;
}
.section i {
  font-size: 3rem;
}
